html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			h1= "Borrow " + tool
			each val in results
				.row
					.col-md-4
						.row
							.container-fluid
								h3= val.name
								p= val.description
					.col-md-8
						.row
							.container-fluid
								h3= val.Size