html
	include components/header.pug
	body
		include components/navbar.pug
		each key, val in results
			.row
				.col-md-4
					.row
						.container-fluid
							h3= key.type
				.col-md-8
					.row
						.container-fluid
							h3= key.address