html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid#seachbarborrow
			form#searchForm(action="/borrow", method="POST", class="search-wrapper")
				input.form-control(id="searchbar" list="autocomplete" name="searchvalue" type="text" placeholder="Search" required="")
				datalist(id="autocomplete")
					option(value="Drills")
					option(value="Saws")
					option(value="Screwdrivers")
					option(value="Wrenches")
		.container-fluid
			h1= "Borrow " + tool
			each val in results
				.row
					.col-md-4
						.row
							.container-fluid
								h3= val.Location
					.col-md-8
						.row
							.container-fluid
								h3= val.Size