html 
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid.outDiv
			.innerdiv
				h1
					span#one Toolbnb
					p Book unique tools <br> and experience a tool like an owner.
	form#searchForm(action="/browse", class="search-wrapper")
		input.form-control(id="searchbar" list="autocomplete" type="text" placeholder="Search" required="" value="")
		datalist(id="autocomplete")
			option(value="Drills")
			option(value="Saws")
			option(value="Screwdrivers")
			option(value="Wrenches")
		

