html 
	include components/header.pug
	body
		include components/navbar.pug
		div(class="container-fluid")
			h1
				span#one Toolbnb
				p Book unique tools <br> and experience a tool like an <br> owner.
