html
    include components/header.pug
    body
        include components/navbar.pug
        .container-fluid#lending
            h2 Lend an Item
            form(action='/lend', method='POST')
                .form-group
                    input.form-control(type='category', placeholder='Category', name='category' list='autocomplete')
                    datalist(id="autocomplete")
                        option(value="Drills")
                        option(value="Saws")
                        option(value="Screwdrivers")
                        option(value="Wrenches")
                .form-group
                    input.form-control(type='number', placeholder='UPC', name='upc')
                .form-group
                    select.form-control(type='text', placeholder='Condition', name='condition')
                        option(value="Like New") Like New
                        option(value="Moderate") Moderate
                        option(value="Meh") Meh
                        option(value="It's seen better days") It's seen better days
                        option(value="Hemanth") Hemanth
                        option(value="Literally trash") Literally trash
                .form-group
                    input.form-control(type='location', placeholder='Location', name='location')
                |
                button.btn.btn-warning.btn-lg(type='submit')    Confirm
                p(class='errorMessage')=errorMessage
