html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid#profile-general
			h1 Your Profile
			table#userinfo
				tr
					th= cred.name
				tr
					th= cred.email

		
