html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid#profile-general
			h1 's Profile
			table#userinfo
				tr
					th Austin Cho
				tr
					th AustinCho42@gmail.com

		
